<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RefundTransferServiceTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PNA_RefundServiceEntities" connectionString="metadata=res://*/Model.RefundSettelmentEntities.csdl|res://*/Model.RefundSettelmentEntities.ssdl|res://*/Model.RefundSettelmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.79.36;initial catalog=PNA_RefundService_Async;user id=sa;password=abc@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--One Minute-->
    <add key="SchedulerInterval" value="60000" />
    <!--One Hour-->
    <!--<add key="SchedulerInterval" value="3600000"/>-->
    <!--Yaghut TimeOut-->
    <add key="YaghutTimeOut" value="180000" />
    <!--Commission Table-->
    <add key="0-10,000,000" value="50" />
    <add key="10,000,001-20,000,000" value="70" />
    <add key="20,000,001-30,000,000" value="90" />
    <!-- عدد آستانه حساب کردن کارمزد -->
    <add key="CheckAmountThreshold" value="3000" />
    <!-- بازه های کارمزد -->
    <add key="CommissionPeriod0" value="0" />
    <add key="CommissionPeriod10000000" value="1000" />
    <add key="CommissionPeriod10000001" value="1001" />
    <add key="CommissionPeriod20000000" value="2000" />
    <add key="CommissionPeriod20000001" value="2001" />
    <add key="CommissionPeriod30000000" value="3000" />
    <!-- NormalTransfer RetryCount-->
    <add key="NormalTransferRetryCount" value="10" />
  </appSettings>
  <applicationSettings>
    <RefundTransferServiceTester.Properties.Settings>
      <setting name="RefundTransferServiceTester_WebServiceRefund_Refund" serializeAs="String">
        <value>http://localhost:1014/Refund.asmx</value>
      </setting>
    </RefundTransferServiceTester.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>